:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --cyan-opacity: hsla(178, 100%, 50%, 0.5);

  --very-dark-blue-main-bg: hsl(217, 54%, 11%);
  --very-dark-blue-card-bg: hsl(216, 50%, 16%);
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);

  --base-font-size: 18px;
  --title-font-size: var(--base-font-size);
  --text-font-size: 1rem;
  --main-font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: var(--cyan-opacity);
}

body {
  font-size: var(--base-font-size);
  color: var(--soft-blue);
  background-color: var(--very-dark-blue-main-bg);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--base-font-size);
  font-family: var(--main-font-family);
  font-weight: 300;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px solid var(--soft-blue);
}

.text {
  font-family: var(--main-font-family);
  font-weight: 300;
  font-size: var(--text-font-size);
}

.text--hight {
  color: var(--white);
}

.text--hight:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card {
  max-width: 330px;
  background-color: var(--very-dark-blue-card-bg);
  border-radius: 10px;
  padding: 1.75rem;
  margin-bottom: 1rem;
  flex-direction: column;
}

.card,
.card__info {
  display: flex;
  row-gap: 1rem;
}

.card__info {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__image {
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.card__image:hover {
  cursor: pointer;
}

.card__overlay {
  background-color: var(--cyan-opacity);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: none;
  justify-content: center;
  align-items: center;
}

.card__image:hover .card__overlay {
  display: flex;
}

.card__title {
  font-weight: 600;
  font-size: var(--title-font-size);
  line-height: 1.6;
  color: var(--white);
}

.card__title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card__overlay img {
  position: absolute;
  z-index: 2;
  /* width: 40px; */
  /* height: 30px; */
}

.card__image > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card__price,
.card__time {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}

.card__time,
.card__price__text {
  font-size: var(--text-font-size);
}

.card__price__text {
  color: var(--cyan);
}

.card__footer {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.card__avatar {
  width: 35px;
  height: 35px;
  border: 1px solid var(--white);
  border-radius: 50%;
}

.card__avatar img {
  width: 100%;
  height: 100%;
}

.attribution {
  max-width: 330px;
  text-align: center;
  font-size: var(--text-font-size);
}
